/aclocal.m4
/autom4te.cache/
/compile
/config.h
/config.h.in
/config.status
/configure
/depcomp
/install-sh
/missing

Makefile.in

/Makefile
/resources/Makefile
/src/Makefile

.deps/
.dirstamp
stamp-h1

polly-b-gone-1.0.tar.bz2
polly-b-gone-1.0.tar.gz
polly-b-gone-1.0.tar.xz

*.log
*~

.vscode/

*.o
*.exe
*.app
/obj
/src/polly-b-gone
